<div class="text-center">
  <h1  style="color:#91a0d8;">ユーザ情報更新</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
      

    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :name, '名前' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, 'メールアドレス' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, '新規パスワード' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, '新規パスワード(確認)' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :administrator,'管理者' %>
        <%= f.check_box :administrator, class: 'form-control' %>
      </div>
      
      <div id='edit'>
      <%= f.submit 'ユーザ情報更新', class: 'btn btn-block' %>
    <% end %>
  </div>
</div>