<div class="text-center">
<h1  style="margin-top:1em; color:#91a0d8;"><i class="fas fa-landmark"></i>  施設紹介</h1>
</div>

<div id="edit" style="margin:1em;">
<%= link_to '新規施設作成',new_facility_path, class: "btn"%>
</div>

<div class="card-columns">
  <% @facilities.each_with_index do |facility,i| %>
      <% link = '/facilities/' + facility.id.to_s %>
      <a href= <%= link %> >
          <div class="card" style="background-color:#91a0d8; color:white;">
            <div class="card-body text-left">
              <% test = 'fa-' + facility.id.to_s + '.jpg' %>
              <p style='text-align: center;'>
                  <%= image_tag 'fa-' + (i+1).to_s + '.jpg', :size => '315x210' %>
              </p>
              <p class="card-text">名称：<%= facility.name %></p>
              <p class="card-text">住所：<%= facility.address %></p>
              <p class="card-text">アクセス：<%= facility.access %></p>
            </div>
          </div>
      </a>
  <% end %>
</div>
<div id="edit" style="margin:1em;">
<a class="btn btn-md" href="/" role="button" style="margin:1em;">トップに戻る</a>
</div>