<div class="text-center">
  <h1  style="color:#91a0d8;"><i class="fas fa-landmark"></i>  施設情報</h1>
</div>

<% if logged_in? %>
  <% if @current_user.administrator %>
    <div id="edit" style="margin:1em;">
      <%= link_to '施設情報編集',edit_facility_path(@facility), class: "btn"%>
      <%= link_to '新規部屋作成', 'room/new/' + @facility.id.to_s, class: "btn" %>
      <%= link_to 'この施設を削除する', @facility, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: "btn" %>
    </div>
  <% end %>
<% end %>

<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @facility.name %></h3>
      </div>
      <%= image_tag 'fa-' + @facility.id.to_s + '.jpg', :class => 'card-img-top'  %>
    </div>
  </aside>
  <div class="col-sm-8">
     <div>
        名称：<%= @facility.name %>
     </div>
      <div>
        住所：<%= @facility.address %>
      </div>
      <div>
        アクセス：<%= @facility.access %>
      </div>
  </div>
</div>

<div class="card-columns" style='margin: 3em 0 0 0'>
  <% @rooms.each_with_index do |room, i| %>
      <% link = '/rooms/' + room.id.to_s %>
      <a href= <%= link %> >
          <div class="card" style="background-color:#91a0d8; color:white;">
            <% if File.exists?('app/assets/images/fa-'+ room.facility_id.to_s + '_ro-' + (i+1).to_s + '.jpeg')  %>
              <%= image_tag 'fa-'+ room.facility_id.to_s + '_ro-' + (i+1).to_s + '.jpeg',  :class => 'card-img-top' %>
            <% end %>
            <div class="card-body text-left">
              <p class="card-text">名称：<%= room.name %></p>
              <p class="card-text">目的：<%= room.purpose %></p>
              <p class="card-text">価格：<%= room.price %>円</p>
              <p class="card-text">最大収容人数：<%= room.maximum_capacity %>人</p>
            </div>
          </div>
      </a>
  <% end %>
</div>