<div class="text-center">
  <h1  style="color:#91a0d8;"><i class="fas fa-door-open"></i> 新規部屋登録</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <div id="edit" style="margin:1em;">
    <%= link_to "CSV出力", rooms_path(format: :csv), class: "btn" %>
    </div>
        
    <%= form_with(model: @room, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <div class="form-group">
        <%= f.label :facility_id, '施設id' %>
        <%= f.number_field :facility_id, class: 'form-control', value: params[:facility_id] , readonly: true %>
      </div>
      
      
      <div class="form-group">
        <%= f.label :name, '部屋名' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :purpose, '目的' %>
        <%= f.text_field :purpose, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :price, '料金' %>
        <%= f.number_field :price, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :maximum_capacity, '最大収容人数' %>
        <%= f.number_field :maximum_capacity, class: 'form-control' %>
      </div>
      
      <div id='edit'>
      <%= f.submit '新規部屋登録', class: 'btn btn-block' %>
      </div>
    <% end %>
  </div>
</div>