<div class="text-center">
  <h1  style="color:#91a0d8;"><i class="fas fa-door-open"></i> 部屋情報</h1>
</div>


<% if logged_in? %>
  <% if @current_user.administrator %>
    <div id="edit" style="margin:1em;">
      <%= link_to '予約枠の作成','allocation/new/' + @room.id.to_s, class: "btn"%>
      <%= link_to '部屋情報の更新',edit_room_path(@room), class: "btn"%>
      <%= link_to 'この部屋を削除する', @room, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: "btn" %>
    </div>
  <% end %>
<% end %>

<div class='row'>
  <aside class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><%= @room.name %></h3>
      </div>
      <div class="card-body">
        <%= image_tag 'fa-' + @room.facility.id.to_s + '_ro-' + @index.to_s + '.jpeg', :class => 'card-img-top'  %>
      </div>
    </div>
  </aside>
  <div class="col-sm-8">
      <div>
          部屋名：<%= @room.name %>
      </div>
      
      <div>
          施設id：<%= @room.facility_id %>
      </div>
      
      <div>
          目的：<%= @room.purpose %>
      </div>
      
      <div>
          価格：<%= @room.price %>
      </div>
      <div>
          最大収容人数：<%= @room.maximum_capacity %>
      </div>
  </div>
</div>

<h3 style='color:#91a0d8; margin-top: 1em;'> 予約状況</h3>

<table class="mt-4 table table-striped table-bordered" style='text-align: center;'>
    <thead>
        <tr>
          <% for i in 0..6 %>
            <th style='background-color:#91a0d8;'> 
              <a style='color: white;'>
                <%= (Date.current + i.day).month.to_s + '/' + (Date.current + i.day).day.to_s + '(' + %w(日 月 火 水 木 金 土)[(Date.current + i.day).wday]  + ')'  %> 
              </a>
            </th>
          <% end %>
        </tr>
    </thead>
    <tbody>
      <% for k in 0..8 %>
        <tr>
          <% for i in 0..6 %>
            <% tmp = @allocations.detect{|allocation| allocation.date.day.to_s == (Date.current + i.day).day.to_s && allocation.timeslot.time_start.hour ==  (k+9)}  %>
            <% if !tmp.nil?  %>
              <td style='background-color:#c1d3ea;'>
                <% link = 'reservation/new/' + tmp.id.to_s %>
                <% if logged_in? %>
                  <a href= <%= link %> style='color: #1f50c7; vertical-align: middle;'>  <%= (k+9).to_s + ':00 ' %> </a>
                <% else %>
                  <a href= '/login' style='color: #1f50c7; vertical-align: middle;'>  ログイン </a>
                <% end %>
              </td>
            <% else %>
              <td style='background-color:#EEEEEE;'><a style='color: #AAAAAA ; vertical-align: middle;'><s> <%= (k+9).to_s + ':00 ' %>  </s></a> </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
</table>

<!-- <div class="card-columns">
  <% @allocations.each_with_index do |allocation, i| %>
      <% link = '/allocations/' + allocation.id.to_s %>
      <a href= <%= link %> >
          <div class="card" style="background-color:#91a0d8; color:white;">
            <div class="card-body text-center">
              <p class="card-text"><%= allocation.id %></p>
            </div>
          </div>
      </a>
  <% end %>
</div> -->
