<header class="mb-4">
  <nav class="navbar navbar-expand-md">
    
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" style='color:white;'>
        <span class="navbar-toggler-icon" style='color:white;' ></span>
    </button>
    
    <a class="navbar-brand" href="/">くらうど市施設予約サイト</a>
    
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= 'active' if current_page?("/") %>">
          <a class="nav-link" href="/"> ホーム </a>
        </li>
        <li class= "nav-item <%= 'active' if (controller.controller_name == 'facilities') || controller.controller_name == 'rooms' %>" >
          <a class="nav-link" href="/facilities"> 施設紹介</a>
        </li>
        <% if logged_in? %>
          <li class="nav-item <%= 'active' if controller.controller_name == 'reservations' %>">
            <a class="nav-link" href="/reservations"> 予約状況</a>
          </li>
          <% if logged_in? %>
            <% if @current_user.administrator %>
              <!--
                <li class="nav-item <%= 'active' if controller.controller_name == 'timeslots' %>">
                  <a class="nav-link" href="/timeslots"> 時間枠</a>
                </li>
              -->
              <li class="nav-item <%= 'active' if controller.controller_name == 'users' %>">
                <a class="nav-link" href="/users"> 利用者一覧</a>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><%= current_user.name %></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to 'プロファイル', user_path(current_user) %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
        <li class="nav-item <%= 'active' if controller.controller_name == 'users' %>" ><%= link_to '新規ユーザ登録', signup_path, class: 'nav-link' %></li>
        <li class="nav-item <%= 'active' if controller.controller_name == 'sessions' %>"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
      <!--
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="検索..." aria-label="Search">
        <div id='edit'> <button class="btn my-2 my-sm-0" type="submit">検索</button><div>
      </form>
      -->
    </div>
    
    

    
  </nav>
</header>